@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* css variables */
:root{
    --primary: #fff;
    --secondary:#acacac;
    --dark:#000;
    --red:#E50914;
}

body{
    background-color:var(--dark) ;
    color: var(--secondary);
    overflow-x: hidden;
}

/* navabar */
.nav{
    background-color: var(--dark);
}
nav .navbar-brand{
    width: 110px;
    height: 50px;
}

.navbar-nav .nav-item .nav-link{
    color: var(--secondary) !important;
}
.navbar-nav .nav-item .nav-link:hover{
    color: var(--primary) !important;
}
.navbar-toggler,.navbar-toggler:focus{
    color: var(--primary) !important;
    box-shadow: none;
}

.nav_icons{
    color: var(--primary);
    cursor: pointer;
}

/* Movie List */
.listContainer .title{
    color: var(--primary);
    font-size: 20px;
    font-weight: 500;
}

/* Movie List Item */
.movieContainer{
    width: 260px;
     margin:0 20px;
     transition: transform 450ms;
 }
 .movieContainer:hover{
     transform:scale(1.20);
     opacity: 1;
 }

 .movieImageContainer{
    height: 140px;   
}
.movieImage{
    align-self: center;
    margin-right: 30px;
}

.button,.button:hover{
    background-color: var(--red);
    color: var(--primary);
    font-weight: 500;
   
}
.button:focus{
    box-shadow: none;
    outline: none;
}

/* Movie Detail page*/
.movieDetail{
    width: 100vw;
    height:90vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.detailContainer{
    height: 90vh;
    color: var(--primary);
}
.detailTop h1{
    font-weight: 700;
}
.detailTop h4 span,.detailCenter{
    color: var(--primary);
    letter-spacing: .5px;
}
.detailBottom .btn{
    background-color: var(--red);
    border: none;
    color: var(--primary);
    font-weight: 500;
}
.detailBottom .btn:hover{
    background-color: var(--red);
}
.detailBottom .btn:focus{
   box-shadow: none;
}

/* small to extra small size */
@media (max-width:576px){
    .movieContainer{
        width: 300px !important;
     }
    .detailTop h1{
        font-weight: 600;
    }
    .detailTop h4{
        font-size: 18px;
    }
}